<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Angular CRUD</h1>
        <div class="d-flex">
           <!-- Button trigger modal -->
            <button type="button" class="btn btn-success margin-top" data-bs-toggle="modal" 
                    data-bs-target="#exampleModal" (click)="onClickAddEmployee()"> Add Employee</button>

            <button class="btn btn-danger mx-3" routerLink="/login">logout</button>

        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th> Employee ID </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email ID </th>
            <th> Mobile </th>
            <th> Salary </th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>${{row.salary}}</td>
            <td>
                <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="onEdit(row)"> Edit </button>
                <button class="btn btn-danger mx-3" (click)="deleteEmployee(row)"> Delete </button>
            </td>
        </tr>
    </tbody>
</table> 



<!-- {{ employeeFormValue.value | json}}
    <br/>
{{ employeeFormValue.invalid | json}} -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="employeeFormValue">
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" formControlName="firstName" maxlength="15" class="form-control" placeholder="Type your First name"/>
                            <div *ngIf="employeeFormValue.controls['firstName'].touched 
                                        && employeeFormValue.controls['firstName'].invalid">
                                <small class="text-danger" *ngIf="employeeFormValue.controls['firstName'].errors?.required">
                                    First Name is required!
                                </small>
                                <small class="text-danger" *ngIf="employeeFormValue.controls['firstName'].errors?.minlength">
                                   First Name must be at least 3 characters long.
                                </small>
                            </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" maxlength="15"  class="form-control" placeholder="Type your Last name">
                        <div *ngIf="employeeFormValue.controls['lastName'].touched
                                    && employeeFormValue.controls['lastName'].invalid">
                                <small class="text-danger" *ngIf="employeeFormValue.controls['lastName'].errors?.required">
                                    Last Name is required!
                                </small>
                                <small class="text-danger" *ngIf="employeeFormValue.controls['lastName'].errors?.minlength">
                                    Last Name must be at least 3 characters long.
                                </small>
                        </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email address</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Type your email id">
                    <div *ngIf="employeeFormValue.controls['email'].touched
                                && employeeFormValue.controls['email'].invalid">
                                <small class="text-danger" *ngIf="employeeFormValue.controls['email'].errors?.required">
                                    Email address is required!
                                </small>
                                <small class="text-danger" *ngIf="employeeFormValue.controls['email'].errors?.email">
                                    Invalid Email address
                                </small>       
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mobile</label>
                    <input type="number" formControlName="mobile"class="form-control" maxlength="10" placeholder="Type your mobile no.">
                    <div *ngIf="employeeFormValue.controls['mobile'].touched
                                && employeeFormValue.controls['mobile'].invalid">
                                <small class="text-danger" *ngIf="employeeFormValue.controls['mobile'].errors?.required">
                                    Mobile no. is required!
                                </small>
                                <small class="text-danger" *ngIf="employeeFormValue.controls['mobile'].errors?.pattern">
                                    Must be 10 digit.
                                </small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Salary</label>
                    <input type="number" formControlName="salary" class="form-control" placeholder="Type your salary">
                    <div *ngIf="employeeFormValue.controls['salary'].touched
                                && employeeFormValue.controls['salary'].invalid">
                                <small class="text-danger" *ngIf="employeeFormValue.controls['salary'].errors?.required">
                                    Salary is required!
                                </small>
                                <small class="text-danger" *ngIf="employeeFormValue.controls['mobile'].errors?.minlength">
                                    Must be 4 digit.
                                </small>

                    </div>
                </div>
            </form>
            <!-- <div class="container">
            <form [formGroup]="employeeFormValue" (submit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control form-control-sm is-invalid"
                            [ngClass]="employeeFormValue.get('fname').errors ? 'is-invalid' : ''"
                            formControlName="fname"/>
                        <div class="invalid-feedback">Name is required.</div>
                    </div>
                </div>
            </form>
            </div> -->
        </div>
       
        <div class="modal-footer">
          <button type="button" id="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="isShowAddBtn" class="btn btn-primary" 
                        (click)="saveEmployeeDetails()" [disabled]='!employeeFormValue.valid'>Add</button>
          <button type="button" *ngIf="isShowUpdateBtn"class="btn btn-primary" 
                        (click)="updateEmployeeDetails()" [disabled]='!employeeFormValue.valid'>Update</button>

          <!-- <button type="submit"  class="btn btn-primary" [disabled]="employeeFormValue.invalid"> Submit </button> -->
        </div>
      </div>
    </div>
  </div>